<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.backend.mapper.MasterMapper">
  <resultMap id="BaseResultMap"
             type="com.example.springboot.backend.domain.Master">
    <id column="mid" jdbcType="VARCHAR" property="mid"/>
    <result column="account" jdbcType="VARCHAR" property="account"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
  </resultMap>
  <sql id="Base_Column_List">
    mid, account, password
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from master
    where mid = #{mid,jdbcType=VARCHAR}
  </select>
  <select id="selectMaster" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from master where account=#{account} and password=#{password}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete
    from master
    where mid = #{mid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert"
          parameterType="com.example.springboot.backend.domain.Master">
    insert into master (mid, account, password)
    values (#{mid,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective"
          parameterType="com.example.springboot.backend.domain.Master">
    insert into master
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        mid,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        #{mid,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective"
          parameterType="com.example.springboot.backend.domain.Master">
    update master
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where mid = #{mid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey"
          parameterType="com.example.springboot.backend.domain.Master">
    update master
    set account  = #{account,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR}
    where mid = #{mid,jdbcType=VARCHAR}
  </update>
</mapper>